h4, h3, h2, table, p {
		
}
h1,h2,h3,h4{
	text-align: center;
}
   caption {
       text-align: left;
       font-weight: bold;
}
p {
	text-align: justify;
}
th, td, p{
	text-transform: none !important;
	text-indent: 0;
}
body, html {
	font: 10pt "Trebuchet MS", Arial, Helvetica, sans-serif !important;
	line-height: 1.1em !important;
	font-stretch: condensed;
}
th {
	text-align: left;
	min-width: 25%;
}
body{
	margin:0;
	height: 100%;
	padding: 0;
}
td {
	text-align: justify;
    min-width: 25%;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}

@page {
	
}
@media print
{
    footer {
    clear: both;
    position: fixed;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
    } 
}
