html {
	font-size: 13px;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and ( min-resolution: 192dpi),
only screen and ( min-resolution: 2dppx) {
    /* Retina-specific stuff here */
		html {
			font-size: 16px;
		}	
}
body {
	background-attachment: fixed;
	/*color: #000000;*/
	font-family: sans-serif;
	font-stretch: condensed;
	/*font-weight: bolder;*/
	margin: 1px 1px;
	text-align: justify;
	background: #63bad8 url(../images/bg.jpg) 50% 0px repeat-x;
}