@import "global.css.php";
/*@import "global.css";*/
body {
	background: #63bad8 url(../images/bg.jpg) 50% 0px repeat-x;
}
#grid {
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	color: #616161;
	font-size: 1em;
	margin: 0 auto;
	min-height: 300px;
	border: 1px solid lightgray;
	margin-top: .2em;
}
#grid .grid_table{
	min-height: 300px;
}
#grid a:link {color: black; text-decoration: none;} 
#grid a:active {color: black; text-decoration: none;}
#grid a:hover {color: black; text-decoration: none;} 
#grid a:visited {color: black; text-decoration: none;}

#grid .grid_button
{
    border: gray 1px solid;
    background-color: white;
    color: #616161;
}

#grid .grid_input
{
	border: gray 1px solid;
    background-color: white;
    color: #616161;
	 max-width: 95% !important;
}


#grid .editor_ok_button
{
    border: gray 1px solid;
    background-color: white;
    color: #616161;
}

#grid .editor_field
{
    border: gray 1px solid;
    background-color: white;
    color: #616161;
    max-width: 95% !important;
}

#grid .grid_maindiv
{
	position: relative; 
	border: 1px solid #7F9DB9; 
	overflow: hidden; 
	width: 100%; 
	font-family: verdana,arial;	
}

#grid .grid_table
{
	background-color: white;
	width: 100%; 
}

#grid .grid_table_header
{
	background-image: url('../images/grid/header.png'); 
	height: 2.5em; 
	color: white; 
	text-shadow: 0 -2px 3px #4d4d4d;
	font-size: 1.1em;
	text-align: center;
	text-transform: uppercase;
}

#grid .grid_table_resize_row
{
	background-image: url('../images/grid/resize.gif'); 
	width: 2px; 
	margin: 0px;	
}

#grid .grid_table_header_row {
	color:#2E5798;
	font-weight: 500;
	cursor:pointer;
	padding-left: 5px;
	padding-bottom: 0px;
	position: relative; 
	height: 2em;
	overflow: hidden; 
	cursor:pointer;
	border-bottom:2px solid #cbc7b8;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid white;
	margin-bottom: 0px;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
   box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

#grid .grid_table_header_row_hover
{
	font-weight: bold;
	cursor:pointer;
	padding-left: 5px;
	padding-bottom: 0px;
	position: relative; 
	height: 2em; 
	overflow: hidden; 
	cursor:pointer;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid white;
	margin-bottom: 0px;
	border-bottom:2px solid #f9b119;
	/*background-color: #FAF9F4;
	background-image:  url('../images/grid/column_on.png'); */

}

#grid .grid_column_resize
{
	cursor: e-resize; 
	width: 2px; 
	background-color: #cbc7b8;
	border-bottom:2px solid #cbc7b8;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#grid .grid_table_row_uneven
{
	background-color: #EBEADB; 
}

#grid .grid_footer
{
	background-color: #f9f9f9; 
	height: 2em; 
	color: #616161;
}

#grid .grid_table_cell
{
	position: relative; 
	border-bottom: 1px solid lightgray;
	height: 1.8em;
	overflow: hidden; 
	margin: 0px;
	font-size: 1em;
}
#grid .grid_table_cell img
{
    max-height: 98%;
    max-width:14px ;
    border-style: outset;
    border-width: 1px;
    padding: 1px;
    background-color: #EEEEEE;
}

#grid .grid_table_cell img:hover
{
    background-color: #CCCCCC;
}

#grid .grid_table_cell .grid_input, #grid .grid_table_cell input
{
	 max-width: 95% !important;
	 width: 95%;
	 color: #2D61C2;
}
#grid .grid_column_resize {
	max-width: 2px;
}
#grid table {
	margin: 0 auto;
	border-collapse: collapse; border-spacing: 0;
}
#grid  th, #grid td { padding: 0px; }

fieldset {
    background-color: #F9F9F9;
    border:1px solid #888;
    border-radius:3px;
    padding: 2px; margin: 1px;
	max-width:1108px; text-align: center;	margin: 0 auto;
}

caption, legend, .ui-tooltip h3, .ui-tooltip-title {
    margin:0px;border:1px solid #888;
    -webkit-text-shadow: 0 1px 0 #666666;
    text-shadow: 0 1px 0 #666666;
    color: #fff;
    background: #ffa366;
    background: -moz-linear-gradient(top, #ffa366 0%, #da5700 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffa366), color-stop(100%, #da5700));
    background: -webkit-linear-gradient(top, #ffa366 0%, #da5700 100%);
    background: -o-linear-gradient(top, #ffa366 0%, #da5700 100%);
    background: -ms-linear-gradient(top, #ffa366 0%, #da5700 100%);
    background: linear-gradient(to bottom, #ffa366 0%, #da5700 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa366', endColorstr='#da5700', GradientType=0);
    border-color: #804620;
    line-height: 1.8em;
    font-size: .95em;
    text-align: center;
    border-radius: 4px;
}