hbox {
	
}

vbox {
	
}

windows {
	border-bottom-color: Green;
	border-style: double;
}

toolbar { /* height: 24px; */
	
}

toolbarbutton {
	height: 26px;
	width: 26px;
}

button.b32x32 {
	height: 32px;
	width: 32px;
}

button.b48x48 {
	height: 48px;
	width: 48px;
}