<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="title" content="LayoutIt! - Bootstrap可视化布局系统">
<meta name="description" content="LayoutIt! 可拖放排序在线edici&oacute;n的Bootstrap可视化布局系统">
<meta name="keywords" content="可视化,布局,系统">
<title>Bootstrap Dise&ntilde;ador Visual</title>

<!-- Le styles -->
<link href="css/bootstrap-combined.min.css" rel="stylesheet">
<link href="css/layoutit.css" rel="stylesheet">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
	<![endif]-->

	<!-- Fav and touch icons -->
	<link rel="shortcut icon" href="img/favicon.png">
	
	<script type="text/javascript" src="js/jquery-2.0.0.min.js"></script>
	<!--[if lt IE 9]>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<![endif]-->
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/jquery-ui.js"></script>
	<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="js/jquery.htmlClean.js"></script>
<script type="text/javascript" src="ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="ckeditor/config.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>
</head>

<body style="min-height: 660px; cursor: auto;" class="edit">
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="tabbable" id="tabs-729471">
				<ul class="nav nav-tabs">
					<li class="active">
						<a data-toggle="tab" href="#panel-387079">Importaci&oacute;n</a>
					</li>
					<li>
						<a data-toggle="tab" href="#panel-702355">Edici&oacute;n</a>
					</li>
					<li>
						<a data-toggle="tab" href="#panel-702356">Impresi&oacute;n</a>
					</li>
					<li>
						<a data-toggle="tab" href="#panel-702357">Configuraci&oacute;n</a>
					</li>
				</ul>
				
				
				<div class="tab-content">
					<div class="tab-pane active" id="panel-387079">
						<form name="import">
						<textarea style='width:90%; min-height:300px;'>
REFERENCIA	FAMILIA	Descripción Artículo	und x caja	Cod. Barra	PRECIO:	Clase	Medidas	Unds x Carton:	COLOR	TALLA	En Oferta	2º Orden	Descripcion 2ºorden:	Comentario	Unidades			K:\0-FOTOS PARA CATALOGO ELECTRONICO\
C0001	01B	EXPOSITOR COMPLETO GORRAS                                   		'             '	0	   	                    	0			0	1	EXPOSITORES                                       	EXPOSITOR SIN CARGO SUJETO A PEDIDO MINIMO DE 576 PCS - 24 PCS POR MODELO.				
1	01A	EXPOSITOR GORRAS                                            		'8435182727452'	0	   	                    	0			0	1	EXPOSITORES                                       		1			
																		
																		
C0024	01B	EXPOSITOR COMPLETO COLLARES HAWAIANOS                       		'             '	0	   	                    	0			0	1	EXPOSITORES                                       	EXPOSITOR SIN CARGO SUJETO A LA COMPRA DE 200 PCS. DE COLLARES SURTIDOS.				
24	01A	EXPOSITOR PELUCAS Y HAWAIANO                                	24	'8435182736799'	0	   	                    	0			0	1	EXPOSITORES                                       		1			
3160	09A	COLLAR HAWAIANO MULTICOLOR (EXP:0024)                       		'8435182719044'	0.55	E2	                    	500	Rojo/Blanco	Ibiza/mallorca	0	153	COLLARES Y PULSERAS HAWAI                         		2			
3162	09A	COLLAR HAWAIANO MULTICOLOR (EXP:0024)                       		'8435182719044'	0.55	E  	                    	500			0	153	COLLARES Y PULSERAS HAWAI                         		12			
3166	09A	COLLAR HAWAI BLANCO/ROJO (EXP 0024)                         	24	'8435182752638'	0.55	E1	10 X 5              	0			0	153	COLLARES Y PULSERAS HAWAI                         		24			
3167	09A	COLLAR HAWAI ROJO/AMARILLO (EXP 0024)                       		'8435182752645'	0.55	E  	                    	0	Rojo/Blanco	Ibiza/mallorca	0	153	COLLARES Y PULSERAS HAWAI                         		12			
3170	09A	COLLAR HAWAI NEGRO/AMARILLO/ROJO (EXP 0024)                 	24	'8435182752676'	0.55	E  	10 X 5              	0			0	153	COLLARES Y PULSERAS HAWAI                         		6			
																		
						
						</textarea>
						</form>
						
					</div>
					
					<div class="tab-pane" id="panel-702355">
						<form>
							<table>
								<!--  <thead>	
									<tr>
									<th></th>
									</tr>
									
								</thead>
								<tbody></tbody>
							</table> -->
<table width="0" border="0" cellpadding="0" cellspacing="0" style='width:1404.00pt;border-collapse:collapse;table-layout:fixed;'>
   <col width="0" span="26" style='width:54.00pt;'/>
   <tr height="0" style='height:16.50pt;'>
    <td class="xl26" height="0" width="0" style='height:16.50pt;width:54.00pt;' x:str>REFERENC<span style='display:none;'>IA</span></td>
    <td class="xl26" width="0" style='width:54.00pt;' x:str>FAMILIA</td>
    <td class="xl27" width="0" style='width:54.00pt;' x:str>Descripción <span style='display:none;'>Artículo</span></td>
    <td class="xl26" width="0" style='width:54.00pt;' x:str>und x caja</td>
    <td class="xl27" width="0" style='width:54.00pt;' x:str>Cod. Barra</td>
    <td class="xl26" width="0" style='width:54.00pt;' x:str>PRECIO:</td>
    <td class="xl27" width="0" style='width:54.00pt;' x:str>Clase</td>
    <td class="xl27" width="0" style='width:54.00pt;' x:str>Medidas</td>
    <td class="xl33" width="0" style='width:54.00pt;' x:str>Unds x Cart<span style='display:none;'>on:</span></td>
    <td class="xl34" width="0" style='width:54.00pt;' x:str>COLOR</td>
    <td class="xl34" width="0" style='width:54.00pt;' x:str>TALLA</td>
    <td class="xl34" width="0" style='width:54.00pt;' x:str>En Oferta</td>
    <td class="xl34" width="0" style='width:54.00pt;' x:str>2º Orden</td>
    <td class="xl35" width="0" style='width:54.00pt;' x:str>Descripcion <span style='display:none;'>2ºorden:</span></td>
    <td class="xl36" width="0" style='width:54.00pt;' x:str>Comentario</td>
    <td class="xl36" width="0" style='width:54.00pt;' x:str>Unidades</td>
    <td class="xl27" width="0" style='width:54.00pt;'/>
    <td class="xl38" width="0" style='width:54.00pt;'/>
    <td class="xl39" width="0" colspan="5" style='width:270.00pt;mso-ignore:colspan;' x:str>K:\0-FOTOS PARA CATALOGO ELECTRONICO\</td>
    <td width="0" style='width:54.00pt;'/>
    <td width="0" style='width:54.00pt;'/>
    <td width="0" style='width:54.00pt;'/>
   </tr>
   <tr height="0" style='height:16.50pt;'>
    <td class="xl28" height="0" style='height:16.50pt;' x:str>C0001</td>
    <td class="xl28" x:str>01B</td>
    <td class="xl28" colspan="2" style='mso-ignore:colspan;' x:str>EXPOSITOR COMPLET<span style='display:none;'>O GORRAS<span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></td>
    <td class="xl28" x:str>'<span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>'</td>
    <td class="xl28" align="right" x:num>0</td>
    <td class="xl28" x:str><span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp;</span></td>
    <td class="xl28" x:str><span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style='display:none;'><span style='mso-spacerun:yes;'>&nbsp;</span></span></td>
    <td class="xl28" align="right" x:num>0</td>
    <td class="xl28" colspan="2" style='mso-ignore:colspan;'/>
    <td class="xl28" align="right" x:num>0</td>
    <td class="xl28" align="right" x:num>1</td>
    <td class="xl28" x:str>EXPOSITOR<span style='display:none;'>ES<span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></td>
    <td class="xl28" colspan="8" style='mso-ignore:colspan;' x:str>EXPOSITOR SIN CARGO SUJETO A PEDIDO MINIMO DE 576 PCS - 24 PCS POR MODELO.</td>
    <td colspan="4" style='mso-ignore:colspan;'/>
   </tr>
   <tr height="0" style='height:16.50pt;'>
    <td class="xl28" height="0" align="right" style='height:16.50pt;' x:num>1</td>
    <td class="xl28" x:str>01A</td>
    <td class="xl28" colspan="2" style='mso-ignore:colspan;' x:str>EXPOSITOR GORRAS<span style='mso-spacerun:yes;'>&nbsp; </span><span style='display:none;'><span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></td>
    <td class="xl28" x:str>'8435182727<span style='display:none;'>452'</span></td>
    <td class="xl28" align="right" x:num>0</td>
    <td class="xl28" x:str><span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp;</span></td>
    <td class="xl28" x:str><span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style='display:none;'><span style='mso-spacerun:yes;'>&nbsp;</span></span></td>
    <td class="xl28" align="right" x:num>0</td>
    <td class="xl28" colspan="2" style='mso-ignore:colspan;'/>
    <td class="xl28" align="right" x:num>0</td>
    <td class="xl28" align="right" x:num>1</td>
    <td class="xl28" colspan="2" style='mso-ignore:colspan;' x:str>EXPOSITORES<span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style='display:none;'><span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></td>
    <td class="xl28" align="right" x:num>1</td>
    <td class="xl27"/>
    <td class="xl40"/>
    <td class="xl41"/>
    <td colspan="7" style='mso-ignore:colspan;'/>
   </tr>
   <tr height="0" style='height:16.50pt;'>
    <td class="xl27" height="0" style='height:16.50pt;'/>
    <td class="xl26"/>
    <td class="xl27"/>
    <td class="xl29" colspan="2" dir="LTR" style='mso-ignore:colspan;'/>
    <td class="xl30"/>
    <td class="xl31" dir="LTR"/>
    <td class="xl32"/>
    <td class="xl29" dir="LTR"/>
    <td class="xl26" colspan="2" style='mso-ignore:colspan;'/>
    <td class="xl27"/>
    <td class="xl29" dir="LTR"/>
    <td class="xl26" colspan="3" style='mso-ignore:colspan;'/>
    <td class="xl27"/>
    <td class="xl38"/>
    <td class="xl42"/>
    <td colspan="7" style='mso-ignore:colspan;'/>
   </tr>
   <tr height="0" style='height:16.50pt;'>
    <td class="xl27" height="0" style='height:16.50pt;'/>
    <td class="xl26"/>
    <td class="xl27"/>
    <td class="xl29" colspan="2" dir="LTR" style='mso-ignore:colspan;'/>
    <td class="xl30"/>
    <td class="xl31" dir="LTR"/>
    <td class="xl32"/>
    <td class="xl29" dir="LTR"/>
    <td class="xl26" colspan="2" style='mso-ignore:colspan;'/>
    <td class="xl27"/>
    <td class="xl29" dir="LTR"/>
    <td class="xl26" colspan="3" style='mso-ignore:colspan;'/>
    <td class="xl27"/>
    <td class="xl38"/>
    <td class="xl27"/>
    <td colspan="7" style='mso-ignore:colspan;'/>
   </tr>
   <tr height="0" style='height:16.50pt;'>
    <td class="xl28" height="0" style='height:16.50pt;' x:str>C0024</td>
    <td class="xl28" x:str>01B</td>
    <td class="xl28" colspan="2" style='mso-ignore:colspan;' x:str>EXPOSITOR COMPLET<span style='display:none;'>O COLLARES HAWAIANOS<span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></td>
    <td class="xl28" x:str>'<span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>'</td>
    <td class="xl28" align="right" x:num>0</td>
    <td class="xl28" x:str><span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp;</span></td>
    <td class="xl28" x:str><span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style='display:none;'><span style='mso-spacerun:yes;'>&nbsp;</span></span></td>
    <td class="xl28" align="right" x:num>0</td>
    <td class="xl28" colspan="2" style='mso-ignore:colspan;'/>
    <td class="xl28" align="right" x:num>0</td>
    <td class="xl28" align="right" x:num>1</td>
    <td class="xl28" x:str>EXPOSITOR<span style='display:none;'>ES<span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></td>
    <td class="xl28" colspan="8" style='mso-ignore:colspan;' x:str>EXPOSITOR SIN CARGO SUJETO A LA COMPRA DE 200 PCS. DE COLLARES SURTIDOS.</td>
    <td colspan="4" style='mso-ignore:colspan;'/>
   </tr>
   <tr height="0" style='height:16.50pt;'>
    <td class="xl28" height="0" align="right" style='height:16.50pt;' x:num>24</td>
    <td class="xl28" x:str>01A</td>
    <td class="xl28" x:str>EXPOSITOR<span style='display:none;'><span style='mso-spacerun:yes;'>&nbsp;</span>PELUCAS Y HAWAIANO<span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></td>
    <td class="xl28" align="right" x:num>24</td>
    <td class="xl28" x:str>'8435182736<span style='display:none;'>799'</span></td>
    <td class="xl28" align="right" x:num>0</td>
    <td class="xl28" x:str><span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp;</span></td>
    <td class="xl28" x:str><span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style='display:none;'><span style='mso-spacerun:yes;'>&nbsp;</span></span></td>
    <td class="xl28" align="right" x:num>0</td>
    <td class="xl28" colspan="2" style='mso-ignore:colspan;'/>
    <td class="xl28" align="right" x:num>0</td>
    <td class="xl28" align="right" x:num>1</td>
    <td class="xl28" colspan="2" style='mso-ignore:colspan;' x:str>EXPOSITORES<span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style='display:none;'><span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></td>
    <td class="xl28" align="right" x:num>1</td>
    <td class="xl37" colspan="2" style='mso-ignore:colspan;'/>
    <td class="xl27"/>
    <td colspan="7" style='mso-ignore:colspan;'/>
   </tr>
   <tr height="0" style='height:16.50pt;'>
    <td class="xl28" height="0" align="right" style='height:16.50pt;' x:num>3160</td>
    <td class="xl28" x:str>09A</td>
    <td class="xl28" colspan="2" style='mso-ignore:colspan;' x:str>COLLAR HAWAIANO <span style='display:none;'>MULTICOLOR (EXP:0024)<span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></td>
    <td class="xl28" x:str>'8435182719<span style='display:none;'>044'</span></td>
    <td class="xl28" align="right" x:num>0.55</td>
    <td class="xl28" x:str>E2</td>
    <td class="xl28" x:str><span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style='display:none;'><span style='mso-spacerun:yes;'>&nbsp;</span></span></td>
    <td class="xl28" align="right" x:num>500</td>
    <td class="xl28" x:str>Rojo/Blanco</td>
    <td class="xl28" x:str>Ibiza/mallorc<span style='display:none;'>a</span></td>
    <td class="xl28" align="right" x:num>0</td>
    <td class="xl28" align="right" x:num>153</td>
    <td class="xl28" colspan="2" style='mso-ignore:colspan;' x:str>COLLARES Y PULSER<span style='display:none;'>AS HAWAI<span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></td>
    <td class="xl28" align="right" x:num>2</td>
    <td class="xl37" colspan="2" style='mso-ignore:colspan;'/>
    <td class="xl27"/>
    <td colspan="7" style='mso-ignore:colspan;'/>
   </tr>
   <tr height="0" style='height:16.50pt;'>
    <td class="xl28" height="0" align="right" style='height:16.50pt;' x:num>3162</td>
    <td class="xl28" x:str>09A</td>
    <td class="xl28" colspan="2" style='mso-ignore:colspan;' x:str>COLLAR HAWAIANO <span style='display:none;'>MULTICOLOR (EXP:0024)<span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></td>
    <td class="xl28" x:str>'8435182719<span style='display:none;'>044'</span></td>
    <td class="xl28" align="right" x:num>0.55</td>
    <td class="xl28" x:str>E<span style='mso-spacerun:yes;'>&nbsp;&nbsp;</span></td>
    <td class="xl28" x:str><span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style='display:none;'><span style='mso-spacerun:yes;'>&nbsp;</span></span></td>
    <td class="xl28" align="right" x:num>500</td>
    <td class="xl28" colspan="2" style='mso-ignore:colspan;'/>
    <td class="xl28" align="right" x:num>0</td>
    <td class="xl28" align="right" x:num>153</td>
    <td class="xl28" colspan="2" style='mso-ignore:colspan;' x:str>COLLARES Y PULSER<span style='display:none;'>AS HAWAI<span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></td>
    <td class="xl28" align="right" x:num>12</td>
    <td class="xl37" colspan="2" style='mso-ignore:colspan;'/>
    <td class="xl27"/>
    <td colspan="7" style='mso-ignore:colspan;'/>
   </tr>
   <tr height="0" style='height:16.50pt;'>
    <td class="xl28" height="0" align="right" style='height:16.50pt;' x:num>3166</td>
    <td class="xl28" x:str>09A</td>
    <td class="xl28" x:str>COLLAR H<span style='display:none;'>AWAI BLANCO/ROJO (EXP 0024)<span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></td>
    <td class="xl28" align="right" x:num>24</td>
    <td class="xl28" x:str>'8435182752<span style='display:none;'>638'</span></td>
    <td class="xl28" align="right" x:num>0.55</td>
    <td class="xl28" x:str>E1</td>
    <td class="xl28" x:str>10 X 5<span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style='display:none;'><span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></td>
    <td class="xl28" align="right" x:num>0</td>
    <td class="xl28" colspan="2" style='mso-ignore:colspan;'/>
    <td class="xl28" align="right" x:num>0</td>
    <td class="xl28" align="right" x:num>153</td>
    <td class="xl28" colspan="2" style='mso-ignore:colspan;' x:str>COLLARES Y PULSER<span style='display:none;'>AS HAWAI<span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></td>
    <td class="xl28" align="right" x:num>24</td>
    <td class="xl37" colspan="2" style='mso-ignore:colspan;'/>
    <td class="xl27"/>
    <td colspan="7" style='mso-ignore:colspan;'/>
   </tr>
   <tr height="0" style='height:16.50pt;'>
    <td class="xl28" height="0" align="right" style='height:16.50pt;' x:num>3167</td>
    <td class="xl28" x:str>09A</td>
    <td class="xl28" colspan="2" style='mso-ignore:colspan;' x:str>COLLAR HAWAI ROJO<span style='display:none;'>/AMARILLO (EXP 0024)<span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></td>
    <td class="xl28" x:str>'8435182752<span style='display:none;'>645'</span></td>
    <td class="xl28" align="right" x:num>0.55</td>
    <td class="xl28" x:str>E<span style='mso-spacerun:yes;'>&nbsp;&nbsp;</span></td>
    <td class="xl28" x:str><span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style='display:none;'><span style='mso-spacerun:yes;'>&nbsp;</span></span></td>
    <td class="xl28" align="right" x:num>0</td>
    <td class="xl28" x:str>Rojo/Blanco</td>
    <td class="xl28" x:str>Ibiza/mallorc<span style='display:none;'>a</span></td>
    <td class="xl28" align="right" x:num>0</td>
    <td class="xl28" align="right" x:num>153</td>
    <td class="xl28" colspan="2" style='mso-ignore:colspan;' x:str>COLLARES Y PULSER<span style='display:none;'>AS HAWAI<span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></td>
    <td class="xl28" align="right" x:num>12</td>
    <td class="xl37" colspan="2" style='mso-ignore:colspan;'/>
    <td class="xl27"/>
    <td colspan="7" style='mso-ignore:colspan;'/>
   </tr>
   <tr height="0" style='height:16.50pt;'>
    <td class="xl28" height="0" align="right" style='height:16.50pt;' x:num>3170</td>
    <td class="xl28" x:str>09A</td>
    <td class="xl28" x:str>COLLAR H<span style='display:none;'>AWAI NEGRO/AMARILLO/ROJO (EXP 0024)<span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></td>
    <td class="xl28" align="right" x:num>24</td>
    <td class="xl28" x:str>'8435182752<span style='display:none;'>676'</span></td>
    <td class="xl28" align="right" x:num>0.55</td>
    <td class="xl28" x:str>E<span style='mso-spacerun:yes;'>&nbsp;&nbsp;</span></td>
    <td class="xl28" x:str>10 X 5<span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style='display:none;'><span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></td>
    <td class="xl28" align="right" x:num>0</td>
    <td class="xl28" colspan="2" style='mso-ignore:colspan;'/>
    <td class="xl28" align="right" x:num>0</td>
    <td class="xl28" align="right" x:num>153</td>
    <td class="xl28" colspan="2" style='mso-ignore:colspan;' x:str>COLLARES Y PULSER<span style='display:none;'>AS HAWAI<span style='mso-spacerun:yes;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></td>
    <td class="xl28" align="right" x:num>6</td>
    <td class="xl37" colspan="2" style='mso-ignore:colspan;'/>
    <td class="xl27"/>
    <td colspan="7" style='mso-ignore:colspan;'/>
   </tr>

  </table>
  
  							
						</form>
					</div>
					<div class="tab-pane" id="panel-702356">
						<form>

                <ul class="nav nav-tabs nav-stacked">
                  <!--  <li class="active"><a href="#">Vista Previa</a></li> -->
                  <li><a href="#">Vista Previa</a></li>
                  <li><a href="#">Imprimir en PDF</a></li>
                  <li><a href="#">Opciones</a></li>
                  <!--  <li class="disabled"><a href="#">Información</a></li> -->
                 <!-- <li class="dropdown pull-right"> <a href="#" data-toggle="dropdown" class="dropdown-toggle">Menú Desplegable<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">操作</a></li>
                      <li><a href="#">设置栏目</a></li>
                      <li><a href="#">更多设置</a></li>
                      <li class="divider"></li>
                      <li><a href="#">分割线</a></li>
                    </ul>
                  </li>-->
                </ul>
						</form>
					</div>				
					<div class="tab-pane" id="panel-702357">
						<form>
							bbbbbbbbbbbbb
						</form>
					</div>					
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
