/* default */
@import "../global.css";
/*@import 'http://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,greek-ext,cyrillic-ext,greek,vietnamese,cyrillic,latin-ext';*/
.ui-corner-bottom >.fieldform {
	width: 100% !important;
	min-width: 100% !important;
}
.formoid-default {
	margin:0 auto;
	background-color:#FFFFFF;
	font-family:'Open Sans','Helvetica Neue','Helvetica',Arial,Verdana,sans-serif;
	color:#2E5798;
	padding-bottom: 3em;
}
.formoid-section {
	padding-bottom: .2em;
}
.formoid-default .element-select select, .formoid-default .tx4 .element-select select { width: 100%; margin-bottom: 2px; min-height: 1.8em; }
.formoid-default label.title, .formoid-default label {
	background-color: #F5F9FD;
	border-style: none;
	max-width: 99%;
	vertical-align: middle;
}
.formoid-default>div{
	margin: 2px;
	
}
.formoid-default #tabs{
	margin: 0;
	min-width: 98% !important;
}
.formoid-default object{
	margin: 0 !important;
	padding: 0 !important;
}
.formoid-default .error-field .required{
	color:#FF9999;
}
.formoid-default .error-field input,
.formoid-default .error-field textarea{
	border-color:#D893A1;
	background-color: #FBE6F2;
}
.formoid-default label.error{
  display:inline-block;
  font-size:0.9em;
}
.formoid-default .error,
.formoid-default .error #recaptcha_widget_div{

}
.formoid-default .error h4 {
  color: #b94a48;
  margin: 0;
}

.formoid-default .error .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}

.formoid-default .column{
	float:left;
}

.frmd{
	display:none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.formoid-default{
-webkit-border-radius: 4px;	
-moz-border-radius: 4px;	
border-radius: 4px;
/*min-height: 320px;*/
}
.formoid-default div.selector,
.formoid-default  select {
	padding: 0.3em;
	min-height: 1.8em;
}
.formoid-default h2 {
	margin: 0.2em 0;
}

.formoid-default label {
	font-size: .96em;
	display: block;
	margin-bottom: 1px;
	clear: both;
	line-height: 1.5em;
}

/* Global Declaration */


.formoid-default .selector, 
.formoid-default .uploader,
.formoid-default .uploader *{
  margin: 0;
  padding: 0;
}

/* Select */

.formoid-default div.selector span{
	background:url(./down.png) no-repeat right center;
	padding-right:10px;
}

.formoid-default div.selector select {
  width:99%;
  top: 0px;
  left: 0px;
}

/*

CORE FUNCTIONALITY 

Not advised to edit stuff below this line
-----------------------------------------------------
*/

.formoid-default .selector, 
.formoid-default .btn, 
.formoid-default .uploader {
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
}

.formoid-default .selector select:focus, 
.formoid-default .uploader input:focus {
  outline: 0;
}

/* Button & submit*/
.formoid-default div.selector,
.formoid-default  select
{
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  color: #2F75D8;
  font-size: 1em;
  font-weight: bold;
  font-family:inherit;
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	width: 99%;
}
/* START DATE */
.formoid-default  select.picker__select--month,
.formoid-default  select.picker__select--year  {
	font-size: .8em !important;
	height: 2em !important;	
}
.formoid-default  select.picker__select--month {
	max-width: 35% !important;
}
.formoid-default  select.picker__select--year {
	max-width: 22.5% !important;
}
/* END DATE */
.formoid-default div.selector:hover,
.formoid-default div.selector.hover
.formoid-default  select:hover
{
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.formoid-default div.selector:active,
.formoid-default  select:active,
/*.formoid-default .btn:active,
.formoid-default input[type=button]:active*/
{
  background-color: #cccccc;
}

.formoid-default div.selector:hover,
.formoid-default  select:hover,
/*.formoid-default .btn:hover,
.formoid-default input[type=button]:hover*/ {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.formoid-default div.selector:active,
.formoid-default  select:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}


.formoid-default input[type=submit] {
	font-size: 1em;
	font-family: inherit;
	background-color: #006dcc;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-image: -moz-linear-gradient(top, #67c2ef, #2FABE9);
	background-image: -ms-linear-gradient(top, #67c2ef, #2FABE9);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#67c2ef), to(#2FABE9));
	background-image: -webkit-linear-gradient(top, #67c2ef, #2FABE9);
	background-image: -o-linear-gradient(top, #67c2ef, #2FABE9);
	background-image: linear-gradient(top, #67c2ef, #2FABE9);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#67c2ef', endColorstr='#2FABE9', GradientType=0);
	border-color: #1598d9 #1598d9 #007bb8 #1598d9;
}

.formoid-default input[type=submit]:hover {
  background-color: #2FABE9;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#47b4eb', endColorstr='#2FABE9', GradientType=0);
  color: #ffffff;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.formoid-default input[type=submit]:active,
.formoid-default input[type=submit][disabled] {
	background-color: #2FABE9;
	*background-color: #2FABE9;
    background-image: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    outline: 0 none;
}


/* Select */

.formoid-default div.selector {
  position: relative;
  padding-left: 10px;
  overflow: hidden;
  line-height:1.6;
}

.formoid-default div.selector span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.formoid-default div.selector select {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity:0);
  border: none;
  background: none;
}


/* Radio & checkbox */
.formoid-default div.element-checkbox, .formoid-default div.element-radio{
	overflow:hidden;
}
.formoid-default input[type=checkbox],
.formoid-default input[type=radio]{
	z-index:1;
	position:relative;
	opacity:0.01;
	height: 19px;
	width: 19px;
	margin: 0;
	vertical-align:middle;
}
/*.formoid-default input[type=checkbox]+span,
.formoid-default input[type=radio]+span{
	height: 1.1em;
	margin-right:-1.1em;
	padding-left: 1.1em;
	left:-1.1em;
	z-index:0;
	position:relative;
	display:inline-block;
	
	top:0px;
	background:url(./check-radio-bg.png) no-repeat 0 0;
}*/
.formoid-default input[type=checkbox]:hover+span{
	background-position:0 -38px;
}
.formoid-default input[type=checkbox]:active+span{
	background-position:0 -19px;
}
.formoid-default input[type=checkbox]:checked+span{
	background-position:0 -76px;
}
.formoid-default input[type=checkbox]:checked:hover+span{
	background-position:0 -114px;
}
.formoid-default input[type=checkbox]:checked:active+span{
	background-position:0 -95px;
}
.formoid-default input[type=radio]+span{
	background-position:0 -190px;
}
.formoid-default input[type=radio]:hover+span{
	background-position:0 -228px;
}
.formoid-default input[type=radio]:active+span{
	background-position:0 -209px;
}
.formoid-default input[type=radio]:checked+span{
	background-position:0 -266px;
}
.formoid-default input[type=radio]:checked:hover+span{
	background-position:0 -304px;
}
.formoid-default input[type=radio]:checked:active+span{
	background-position:0 -285px;
}

.formoid-default input[type=text],
.formoid-default input[type=password],
.formoid-default input[type=email],
.formoid-default input[type=url],
.formoid-default input[type=number],
.formoid-default textarea {
	width: 99%;
	margin-bottom: 2px;
	padding: .33em 0em;
	font-family:inherit;
	font-weight: normal;
	color: #545454;

	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.18), rgba(0,0,0,0) 4px, rgba(0,0,0,0) ); /* FF3.6 */
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.18), rgba(0,0,0,0) 4px, rgba(0,0,0,0) ); /* Chrome 10+, Saf5.1+ */
	background-image: linear-gradient(top, rgba(0,0,0,0.18), rgba(0,0,0,0) 5px, rgba(0,0,0,0) );
	border-top: solid 1px #aaa;
	border-left: solid 1px #aaa;
	border-bottom: solid 1px #ccc;
	border-right: solid 1px #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	outline: 0;
	min-height: 1.8em;
}

.formoid-default input[type=text]:focus,
.formoid-default input[type=number]:focus,
.formoid-default input[type=password]:focus,
.formoid-default input[type=email]:focus,
.formoid-default input[type=url]:focus,
.formoid-default textarea:focus {
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
	border-color: rgba(82, 168, 236, 0.8);
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.19), rgba(0,0,0,0) 5px, rgba(0,0,0,0) ); /* FF3.6 */
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.19), rgba(0,0,0,0) 5px, rgba(0,0,0,0) ); /* Chrome 10+, Saf5.1+ */
	background-image: -o-linear-gradient(top, rgba(0,0,0,0.19), rgba(0,0,0,0) 5px, rgba(0,0,0,0) ); /* Opera 11.10+ */
	background-image: linear-gradient(top, rgba(0,0,0,0.19), rgba(0,0,0,0) 5px, rgba(0,0,0,0) );
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}


/* prevent conflicts with bootstrap */
.formoid-default .dropdown-menu input[type=checkbox]{
	display:none;
}
/* bootstrap cutting */

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn-group {
  position: relative;
  display: inline-block;
  *display: inline;
  *margin-left: .3em;
  /*font-size: 0;*/
  white-space: nowrap;
  vertical-align: middle;
  *zoom: 1;
}

.btn-group:first-child {
  *margin-left: 0;
}


.btn-group .dropdown-toggle:active,
.btn-group.open .dropdown-toggle {
  outline: 0;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}

.btn .caret {
  margin-top: 8px;
  margin-left: 0;
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.alert,
.alert h4 {
  color: #c09853;
}

.alert h4 {
  margin: 0;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}


.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-success h4 {
  color: #468847;
}

.alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-info h4 {
  color: #3a87ad;
}

.tooltip {
	position: relative;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.bottom .tooltip-arrow {
  top: -8px;
  left: 17px;
  margin-left: -8px;
  border-bottom-color: #f2dede;
  border-width: 0 8px 8px;
}



.break { clear:both; }

/* APPLE STYLE NAVIGATION MENU */
.formoid-default nav {
    /* Gradient backgrounds for the buttons. Generated using http://gradients.glrzad.com/ */
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #787878), color-stop(0.5, #5E5E5E), color-stop(0.51, #707070), color-stop(1, #838383));
    background-image: -moz-linear-gradient(center bottom, #787878 0%, #5E5E5E 50%, #707070 51%, #838383 100%);
    background-color:#5f5f5f;
    width: 100%;
	height: auto !important;
	display: inline-block;
}

.toolnav {
	margin:1px 0px 1px 0px;
	list-style:none;
    min-height:2.75em;
   -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    -moz-box-shadow: 0px 3px 3px #cecece;
    -webkit-box-shadow: 0px 3px 3px #cecece;
    box-shadow: 0 3px 4px #8b8b8b;    
    padding-left: 1px;
}

.toolnav li {
display:block;
float:left;
border-right:1px solid #5d5d5d;
border-left:2px solid #929292;
width:135px;
height:2.75em;
border-bottom:1px solid #575757;
border-top:1px solid #797979;

}
/* Set the states when hovering, except for the last item in the list (the search bar), since it doesn't need to change */
.toolnav li:hover {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3F3F3F), color-stop(0.5, #383838), color-stop(0.51, #434343), color-stop(1, #555555));
    background-image: -moz-linear-gradient(center bottom, #3F3F3F 0%, #383838 50%, #434343 51%, #555555 100% );
    background-color:#383838;
    
    /* We use the inset of the box shadow to create a subtle inner glow when hovering */
    -moz-box-shadow: inset 0 0 5px 5px #535353;
    -webkit-box-shadow: inset 0 0 5px 5px #535353;
    box-shadow: inset 0 0 5px 5px #535353;
    text-decoration:none !important;
}

/* When the user clicks the button, we simply change the box inset (compared to the "hover") */
.toolnav li:active {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3F3F3F), color-stop(0.5, #383838), color-stop(0.51, #434343), color-stop(1, #555555));
    background-image: -moz-linear-gradient(center bottom, #3F3F3F 0%, #383838 50%, #434343 51%, #555555 100% );
    background-color:#383838;
    -moz-box-shadow: inset 0 1px 2px 2px #000;
    -webkit-box-shadow: inset 0 1px 2px 2px #000;
    box-shadow: inset 0 1px 2px 2px #000;
}
.toolnav li a:hover {
	box-shadow: 1px 1px 2px 2px;
}
.toolnav li a {
    font-weight: 500;
    
	text-align:center;
	display:block;
	line-height:1.4em;
	outline:none;
	width: 100%;
	height: 100%;
	cursor: pointer;
	border-radius: 3px;
	color:#ffffff;
	text-shadow: 0 -1px 3px #202020;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2f2f2f), color-stop(0.5, #3e3e3e), color-stop(0.51, #403f3f), color-stop(1, #585858));
    background-image: -moz-linear-gradient(center bottom, #3F3F3F 0%, #454545 50%, #424242 51%, #7e7e7e 100%);
	

}
/*Temas de Botones*/
.toolnav li a.blue {
	text-shadow: 0 -1px 3px #0066cc;
	background: #2191c0 url(../../images/start/ui-bg_gloss-wave_75_2191c0_500x100.png) 50% 50% repeat-x
}
.toolnav li a.orange {
	text-shadow: 0 -1px 3px #cc0000;
	background: #6eac2c url(../../images/start/ui-bg_gloss-wave_45_e14f1c_500x100.png) 50% 50% repeat-x;
}
.toolnav li a.green {
	text-shadow: 0 -1px 3px #468847;
	background: #6eac2c url(../../images/start/ui-bg_gloss-wave_50_6eac2c_500x100.png) 50% 50% repeat-x;
}
.toolnav li a.white {
text-shadow: none; color: #901429;
background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}
.toolnav li a.red {
color: #ffffff; text-shadow: 0 -1px 3px #510814;
background: linear-gradient(to bottom, #901429 0%,#B5122D 100%);
}
.toolnav li a.dark {
background: #001121;
}
.toolnav li a.yellow {
text-shadow: 0 -1px 3px #FBFF0D; color: #381f00;
background: linear-gradient(to bottom, #f1e767 0%,#feb645 100%);
}
.toolnav li a.whiteblue {
text-shadow: none; color: #0080E3;
background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);

}
/*.toolnav li a.blue2 {
text-shadow: 0 -1px 3px #0066cc; color: #FFF;
background: linear-gradient(top,#4387fd,#4683ea)

}*/

.toolnav li a.gray2 {
text-shadow: none; color: #252B29;
background: #B9CCD2;
}


.toolnav li a.blue2 {
text-shadow:  0 -1px 3px #0080E3; color: #FFFFFF;
background: #56C4FF;
}

.toolnav li a.blue3, .toolnav li a.editar {
text-shadow: none;
color: #FFFFFF; background: #4877B6;
}

.toolnav li a.persona {
text-shadow:  0 -1px 3px #0080E3; color: #FFFFFF;
background: #4464AF;
}
.toolnav li a.credito {
	text-shadow: 0 -1px 3px #468847;
	background: #257433;
	
}
.toolnav li a.green2 {
text-shadow: 0 1px 0 rgba(0,0,0,0.2); color: #fff;
background: #1b926c;
border-color: #198764;
}
.toolnav li  div.noticon {
	clear: both;
	display: inline-block;
	margin-left: 8px;
	top: 4px;
}
.toolnav li  div.noticon i {
	color: white;
	text-shadow: 0 -1px 3px #202020;
}
/* Rounded corner for the first in last item. Shorthand: Top left, Top right, Bottom right, Bottom left.
We also remove the borders, since they don't need them. */
.toolnav li:first-child {
    -moz-border-radius:4px 0 0 4px;
    -webkit-border-radius:4px 0 0 4px;
    border-radius:4px 0 0 4px;
border-left:1px solid #929292;
}

.toolnav li:last-child {
    -moz-border-radius:0 4px 4px 0;
    -webkit-border-radius:0 4px 4px 0;
    border-radius:0 4px 4px 0;
border-right:1px solid #5d5d5d;
}

/* Fade in animation (Webkit only) */
@-webkit-keyframes showMenu {
    from { opacity: 0; top:-20px; }
    to   { opacity: 1; }
}

.toolnav {
     -webkit-animation: showMenu 1s; position:relative;
}


.formoid-default fieldset {
	background-color: #F5F9FD;
	border-width: 2px;
}

.fieldform legend {
    position: relative;
    left: 25%;
    min-width: 50%;

}

